/* navigation bar............. */
.nav{
    float: right;

}
.nav a{
    /* font-size: 80px;
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate; */
    text-decoration: none;
    text-align: center;
    font-family: 'Vast Shadow';
    color: white;
    font-size: x-large;
    padding: 15px 15px;
    border-radius: 5px;
}
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(173, 164, 164), 0 0 20px #fff, 0 0 30px #d8e4c14f, 0 0 40px #a9e600, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgba(78, 76, 76, 0.24), 0 0 30px #c3f06f42, 0 0 40px #edff4d5e, 0 0 50px #caff4d75, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
.nav a:hover{
    background-color: rgb(165, 180, 137);
    color: black;

}
