body{
  background-color: brown;
}
/* navigation bar............. */
.nav{
    float: right;

}
.nav a{
    /* font-size: 80px;
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate; */
    text-decoration: none;
    text-align: center;
    font-family: 'Vast Shadow';
    color: white;
    font-size: x-large;
    padding: 15px 15px;
    border-radius: 5px;
}
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(173, 164, 164), 0 0 20px #fff, 0 0 30px #d8e4c14f, 0 0 40px #a9e600, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgba(78, 76, 76, 0.24), 0 0 30px #c3f06f42, 0 0 40px #edff4d5e, 0 0 50px #caff4d75, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
.nav a:hover{
    background-color: rgb(165, 180, 137);
    color: black;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
