body{
    background-color: black;

}

/* navigation bar............. */
.nav{
    float: right;

}
.nav a{
    /* font-size: 80px;
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate; */
    text-decoration: none;
    text-align: center;
    font-family: 'Vast Shadow';
    color: white;
    font-size: x-large;
    padding: 15px 15px;
    border-radius: 5px;
}
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(173, 164, 164), 0 0 20px #fff, 0 0 30px #d8e4c14f, 0 0 40px #a9e600, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgba(78, 76, 76, 0.24), 0 0 30px #c3f06f42, 0 0 40px #edff4d5e, 0 0 50px #caff4d75, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
.nav a:hover{
    background-color: rgb(165, 180, 137);
    color: black;

}
.container{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.column {
    display: flex;
    width: 45%;
    padding: 30px;
  }
  /* flip effect.................. */

  .flip-box {
    background-color: transparent;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    perspective: 1000px;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  h1{
    font-family:'Keania One';
  }

  /* form............... */
  input[type=text], select, textarea {
    width: 30%;
    height: 100%;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    size: 30px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* footer........................... */
.footer{

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(180, 171, 171, 0.281);
    color: black;
    text-align: center;
  }
  .fa {
    padding: 25px;
    font-size: 30px;
    width: 55px;
    color: rgb(3, 3, 3);
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    background-color: #020202;
    border-radius: 5px;
    opacity: 0.7;
  }
/* contact----------------------------------------------------------------------------------- */

h3{
  padding-top: 10px;
  text-align: center;
  font-weight: bolder;
  color: white;
}
span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #fff;
  animation: zoomup 3s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #00c2ba;
    filter: blur(1px);
    text-shadow: 0 0 10px #7b00c2, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
      0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
      0 0 120px #00c2ba;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}
